<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.canwenotcare.hyperdope"
    version     = "1.0.0" >
  <name>Hyperdope</name>

  <description>
      You win!
  </description>

  <author href="https://reddit.com/r/metamon" email="joyowns@gmail.com">
      Joy Owns You
  </author>

</widget>
