<?xml version='1.0' encoding='utf-8'?>
<widget id="com.canwenotcare.hyperdope" version="1.81" xmlns="http://www.w3.org/ns/widgets">
  <name>HyperDope</name>
  <description>A naked singularity.</description>
  <author email="canwenotcare@gmail.com">
  <preference name="permissions" value="none" />
  <preference name="target-device" value="universal" />
  <icon src="icon.png" />
</widget>
